body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    background-color: #124677;
}

.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 35px;
    }

.profile p {
    margin: 10px 0;
    font-size: 1.2em;
}

.time-info p, .links a {
    margin: 5px 0;
    font-size: 1.1em;
}

.links a {
    display: block;
    color: #3498db;
    text-decoration: none;
    }

.links a:hover {
    text-decoration: underline;
}

.goals {
    margin-top: 20px;
}

.goals h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.goals ul {
    list-style-type: none;
    padding: 0;
}

.goals ul li {
    background: #1fb8d3;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
}